@model TblNotlar
@{
    ViewData["Title"] = "NotEkle";
}




<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Formu</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center mb-4" style="color:red">NOT EKLEME FORMU</h2>
        <form method="post" >
            <input type="hidden" asp-for="NotID" />

            <div class="form-group">
                <label for="NotTitle">Başlık:</label>
                <input type="text" class="form-control" asp-for="NotTitle"  required />
            </div>

            <div class="form-group">
                <label for="NotText">Metin:</label>
                <textarea class="form-control" asp-for="NotText" rows="5" required>@Model.NotText</textarea>
            </div>

            <button type="submit" class="btn btn-outline-danger">Kaydet</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

