@model TblNotlar
@{
    ViewData["Title"] = "TumunuOku";
}


<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Güncelle</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center mb-4">Not Güncelle</h2>
        <form >
            <input type="hidden" asp-for="NotID" />

            <div class="form-group">
                <label for="NotTitle">Başlık:</label>
                <input type="text" class="form-control" asp-for="NotTitle" required disabled />
            </div>

            <div class="form-group">
                <label for="NotText">Metin:</label>
                <textarea class="form-control" asp-for="NotText" rows="10" required disabled>@Model.NotText</textarea>
            </div>

            <a href="/Home/Notlar"class="btn btn-outline-danger">Geri</a>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>



